/* Modern CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Custom CSS Rules */

:root {
  --gradient-start: #3572e0;
  --gradient-end: #9445f0;
  --card-bg: rgba(255, 255, 255, 0.15);
  --text-color: white;
  --primary: #2323e4d7;
  --accent: #ff2a85;
}

html {
  height: 100vh;
}

body {
  display: grid;
  place-items: center;
  padding-top: 52px;
  height: 100%;
  background: linear-gradient(
    135deg,
    var(--gradient-start),
    var(--gradient-end)
  );
  color: var(--text-color);
  font-size: 18px;
}

/* Layout */

.form {
  display: flex;
  gap: 20px;
}

/* Search Bar */
.input-search {
  backdrop-filter: blur(20px);
  background-color: var(--card-bg);
  border: none;
  border-radius: 25px;
  flex: 1;
  padding: 0 16px 0 16px;
  color: white;
  font-size: 20px;
  transition: all 0.35s ease;
}

.input-search:focus {
  outline: none;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: hsla(0, 0%, 100%, 0.12);
}

.submit-btn {
  display: flex;
  color: white;
  background-color: var(--primary);
  padding: 16px;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: hsla(240, 78%, 60%, 0.843);
}

.submit-btn:active {
  transform: scale(0.8);
}

/* Weather Content */
.weather-card {
  min-width: 40%;
  border-radius: 25px;
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 20px;
  /* backdrop-filter: blur(10px);
  background-color: var(--card-bg); */
}

/* Weather Overview */
.overview {
  display: grid;
  grid-template-areas:
    'location'
    'groups';
  row-gap: 20px;
  /* border: 1px solid black; */
}

.location {
  grid-area: location;
  justify-self: center;
  color: var(--color-dark-blue);
  font-size: 32px;
}

.now-text {
  font-size: 24px;
  font-weight: 600;
}

.current-temp {
  color: var(--color-primary-blue);
  font-size: 40px;
  margin-bottom: -8px;
}

.feels-like {
  color: var(--color-mid-blue);
  font-size: 20px;
}

.condition-status {
  color: var(--color-mid-blue);
  font-size: 20px;
}

.condition-status-icon {
  font-size: 84px;
}

.groups {
  grid-area: groups;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.overview-right {
  display: grid;
  justify-items: center;
}

.overview-left {
  display: grid;
  grid-template-rows: max-content max-content max-content;
}

/* Weather Details */

.details div div {
  /* border: 1px solid black; */
  border-radius: 12px;
  padding: 8px;
  display: grid;
  place-items: center;
  grid-template-rows: max-content max-content max-content;
  background-color: var(--card-bg);
  transition: all 0.3s ease;
}

.details div div:hover {
  cursor: pointer;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: hsla(0, 0%, 100%, 0.13);
  transform: translateY(-2px);
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.details-left,
.details-right {
  display: grid;
  row-gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.details-left {
  padding-right: 0;
}

.details-right {
  padding-left: 0;
}

.details iconify-icon {
  font-size: 32px;
}
